<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendeeDashboardServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.AttendeeDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TertiaryPresenterDashboard</servlet-name>
        <servlet-class>za.ac.tut.servlet.TertiaryPresenterDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyTickets</servlet-name>
        <servlet-class>za.ac.tut.servlet.ViewMyTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendeeViewProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.AttendeeViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendeeDeleteProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.AttendeeDeleteProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendeeDashboardServlet</servlet-name>
        <url-pattern>/AttendeeDashboardServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TertiaryPresenterDashboard</servlet-name>
        <url-pattern>/TertiaryPresenterDashboard.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyTickets</servlet-name>
        <url-pattern>/ViewMyTickets.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendeeViewProfileServlet</servlet-name>
        <url-pattern>/AttendeeViewProfileServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendeeDeleteProfileServlet</servlet-name>
        <url-pattern>/AttendeeDeleteProfileServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
